@model ListModels

@{
    ViewData["Title"] = "Home Page";
}
 <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <h6 class="subtitle"> website bán tour du lịch Quảng Ninh</h6>
            <h1 class="title">Khám phá Quảng Ninh</h1>         
        </div>      
    </header>
    <div class="box text-center">
        <div class="box-item">
          <i class="fa fa-users" aria-hidden="true"></i>
            <h6 class="box-title">Dân số</h6>
            <p>Tổng cộng	1.360.700 người </p>
<p>Thành thị	516.700 người (38,25%)   </p>
<p>Nông thôn	834.200người (61,75%)  </p>
        </div>
        <div class="box-item">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <h6 class="box-title">Vị trí địa lý</h6>
            <p>Quảng Ninh là tỉnh ven biển thuộc vùng Đông Bắc Bộ Việt Nam có tổng diện tích là 8.239,243 km².</p>
        </div>
        <div class="box-item">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h6 class="box-title">Du lịch</h6>
            <p>Quảng Ninh là một địa danh giàu tiềm năng du lịch, là một đỉnh của tam giác tăng trưởng du lịch miền Bắc Việt Nam</p>
        </div>
    </div>
    <!-- End of Box -->

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-4">
                    <img src="~/assets/imgs/map.png">
                </div>
                <div class="col-md-7 col-lg-8" style="margin-top:400px;background:snow;">
                    
                    <h3 class="section-title mb-3" >Giới thiệu chung</h3>
            
                    <p style="color: black;"><strong>Quảng Ninh là một tỉnh ở địa đầu phía đông bắc Việt Nam, phía tây tựa lưng vào núi rừng trùng điệp, 
                        phía đông nghiêng xuống nửa phần đầu vịnh Bắc bộ với bờ biển khúc khuỷu nhiều cửa sông.
                        Quảng Ninh có toạ độ địa lý khoảng 106o26' đến 108o31' kinh độ đông và từ 20o40' đến 21o40' vĩ độ bắc.</strong>
                          </p>
                    <p style="color: black;" ><strong>bờ biển dài 250km, thu hút khách du lịch với nhiều bãi biển đẹp như Bãi Cháy, Quan Lạn, Minh Châu, Ngọc Vừng, Trà Cổ, 
                        ... Ngoài ra còn có các danh lam thắng cảnh khác, trong đó Vịnh Hạ Long được công nhận là Kỳ quan thiên nhiên. 
                    Ngoài du lịch, tỉnh còn sở hữu một nguồn than lớn, mang lại lợi ích kinh tế lớn cho mảnh đất này. 
                    là vùng đất tập trung đa dạng sinh học với nhiều hệ sinh thái rặng san hô, rừng nhiệt đới, rừng ngập nước với hàng nghìn loài sinh vật.</strong> </p>
                        
                </div>
            </div>
        </div>
    </section>
    <!-- End Of About Sectoin -->

    <!-- Service Section -->
    <section id="service">
        <div class="container">
            <h6 class="section-subtitle text-center">Lịch sử</h6>
            <h5 class="section-title text-center mb-6">Lịch sử hành chính Quảng Ninh</h5> 
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <div class="card mb-8">
                        <div class="card-body">
                            <h2 class="mb-8"><img src="~/assets/imgs/pk.jpg" style="width:100%" /></h2>
                            <h6 class="card-title">Tiền sử</h6>
                            <p>Quảng Ninh là vùng đất lịch sử lâu đời. Ở khu vực Vịnh Hạ Long đã khảo cổ được di chỉ của người tiền sử từ
                                3000 - 1500 năm TCN. Đặc trưng trong giai đoạn này là Văn hóa Hạ Long. Với nhiều di chỉ khảo cổ vỏ sò dùng làm trang sức 
                                và tiền trao đổi. Xương thú và xương người Cổ đại. Khi hình thành Nhà nước đầu tiên của người Việt.
                                Thời Hùng Vương vùng đất Quảng Ninh nay là bộ Lục Hả</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="card mb-8">
                        <div class="card-body">
                             <h2 class="mb-8"><img src="~/assets/imgs/than.jpg" style="width:100%" /></h2>
                            <h6 class="card-title">Thời Phong kiến</h6>
                            <p>Khu vực tỉnh Quảng Ninh hiện nay thời phong kiến có tên là:

-Thời Tự chủ và nhà Ngô là Lục Châu.<br />
-Thời nhà Lý là Lộ Đông Hải.<br />
-Thời nhà Trần là Lộ Hải Đông.<br />
-Thời nhà Lê là Trấn An Bang. <br />
-Thời nhà Nguyễn là Tỉnh Quảng Yên.<br />
Quảng Ninh có nguồn tài nguyên than đá trữ lượng lớn. Năm 1839 tổng đốc Hải Yên (Hải dương, Quảng Yên) 
là Tôn Thất Bật thấy nhân dân ở đây bị mất mùa đói kém, cuộc sống khó khăn, ông đã dâng sớ xin triều đình cho nhân dân khai thác than trên núi Yên Lĩnh,
nay thuộc xã Yên Thọ, huyện Đông Triều, Quảng Ninh.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="card mb-8">
                        <div class="card-body">
                            <h2 class="mb-8"><img src="~/assets/imgs/phap-thuoc.jpg" style="width:100%" /></h2>
                            <h6 class="card-title">Thời Pháp thuộc</h6>
                            <p>Sau khi xâm chiếm Bắc Kỳ, năm 1899 thực dân Pháp lại tách một phần bắc tỉnh Quảng Yên mà lập tỉnh Hải Ninh. 
                                Thấy được tài nguyên khoáng sản than đá. Thực dân Pháp tăng cường khai thác tại các khu Hồng Quảng, Mạo Khê, Vàng Danh, Cẩm Phả, Hà Tu. 
                                Họ thành lập Công ty than Bắc Kỳ thuộc Pháp (S.F.C.T) 
                                độc quyền khai thác và tiêu thụ than đá, ra sức vơ vét tài nguyên và bóc lột nhân công thuộc địa. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="card mb-8">
                        <div class="card-body">
                           <h2 class="mb-8"><img src="~/assets/imgs/1945.jpg" style="width:100%" /></h2>
                            <h6 class="card-title">Sau năm 1945</h6>
                            <p>Sau Cách mạng tháng Tám năm 1945 Việt Nam giành độc lập, bước sang giai đoạn dân chủ hiện đại.
                           Ngày 18 tháng 1 năm 1979, huyện Móng Cái đổi tên thành huyện Hải Ninh14 .

-Ngày 27 tháng 12 năm 1993, Chính phủ bàn hành Nghị định số 102/CP, thành phố Hạ Long được chính thức thành lập trên cơ sở thị xã Hòn Gai . <br />

-Ngày 23 tháng 3 năm 1994, đổi tên huyện Cẩm Phả thành huyện Vân Đồn; tách quần đảo Cô Tô khỏi huyện Cẩm Phả để thành lập huyện Cô Tô.   <br />


-Ngày 29 tháng 8 năm 2001, huyện Quảng Hà được tách thành 2 huyện: Đầm Hà và Hải Hà.<br />

-Ngày 24 tháng 09 năm 2008, Chính phủ ban hành Nghị định 03/NĐ-CP thành lập thành phố Móng Cái trên cơ sở toàn bộ diện tích tự nhiên và dân số của thị xã Móng Cái<br /> 

-Ngày 25 tháng 2 năm 2011, Chính phủ ban hành Nghị quyết số 12/NQ-CP thành lập thành phố Uông Bí trên cơ sở toàn bộ diện tích tự nhiên và dân số của thị xã Uông Bí <br />

-Ngày 25 tháng 11 năm 2011, Chính phủ ban hành Nghị quyết số 100/NQ-CP tái lập thị xã Quảng Yên trên cơ sở toàn bộ diện tích tự nhiên và dân số của huyện Yên Hưng 21 <br />

-Ngày 21 tháng 2 năm 2012, Chính phủ ban hành Nghị quyết số 04/NQ-CP thành lập thành phố Cẩm Phả thuộc tỉnh Quảng Ninh trên cơ sở toàn bộ diện tích tự nhiên, dân số <br />

-Ngày 11 tháng 3 năm 2015, Ủy ban Thường vụ Quốc hội ban hành Nghị quyết số 892/NQ-UBTVQH13 thành lập thị xã Đông Triều trên cơ sở toàn bộ diện tích tự nhiên và dân số của huyện Đông Triều. <br />


                            </p>
                        </div>
                    </div>
                </div>
    

            </div>  
        </div>
    </section>
    <!-- End of Service Section -->

    <!-- Portfolio section -->
    <section id="portfolio">
        <div class="container text-center">
            <h6 class="section-subtitle">Du lịch</h6>
            <h6 class="section-title mb-5"> Danh lam thắng cảnh của tỉnh Quảng Ninh</h6>
            <div class="row">
            @foreach(var item in Model.Locations)
            {
                
            
               <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="@item.LocationImage">
                        <div class="overlay">
                            <div class="overlay-infos">
                                 <h5>@item.LocationName</h5> 
                                    <a href="javascript:void(0)"><a href="~/Home/LocationDetail?id=@item.LocationId" ><i class="ti-zoom-in"></i></a></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>  
                        </div>
                        </div>                               
                                 
                </div>
              }
            </div>
        </div>
    </section>
    <!-- End of portfolio section -->

    <!-- Team Section -->
    <section id="team">
        <div class="container">
            <h6 class="section-subtitle text-center">Đặc sản</h6>
            <h6 class="section-title mb-5 text-center">Đặc sản của tỉnh Quảng Ninh</h6>
            <div class="row">
    @foreach(var item in Model.FoodLists){
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center mb-4">
                        <img class="card-img-top inset" src="@item.FoodImage">
                        <div class="card-body">
                            <h6 class="small text-primary font-weight-bold">@item.Local.LocalName</h6>
                            <h5 class="card-title">@item.FoodName</h5>
                            <p>@item.FoodDescription</p>
                            <div class="socials">
                                <a href="javascript:void(0)"><i class="ti-facebook"></i> </a>
                                <a href="javascript:void(0)"><i class="ti-github"></i></a>
                                <a href="javascript:void(0)"><i class="ti-dropbox"></i></a>
                                <a href="javascript:void(0)"><i class="ti-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
}               

            </div>
        </div>
    </section>
    <!-- End of Team Sectoin -->

    <!-- Fatcs Section -->
    <section class="has-bg-img bg-img-2">
        <div class="container text-center">
          
            <h6 class="section-title mb-6">Quảng Ninh và những cái nhất</h6>
                <div class="widget-2">
                    <div class="widget-item">
                <i class="fa fa-area-chart" aria-hidden="true"></i>
                        <h6 class="title">Số lượng đảo</h6>
                        <div class="subtitle">Quảng Ninh là tỉnh đứng đầu cả nước về số lượng hòn đảo,
                            hơn 2/3 số đảo cả nước (2078/ 2779)</div>
                    </div>
                    <div class="widget-item">
                     <i class="fa fa-history" aria-hidden="true"></i>
                        <h6 class="title">Lịch sử</h6>
                        <div class="subtitle">Trận Bạch Đằng năm 1288 được xem là trận thủy chiến lớn nhất trong lịch sử Việt Nam.</div>
                    </div>
                    <div class="widget-item">
                     <i class="fa fa-trophy" aria-hidden="true"></i>
                        <h6 class="title">Khoáng sản</h6>
                        <div class="subtitle">Quảng Ninh là tỉnh có nhiều than đá nhất VN ( khoảng hơn 9 tỷ tấn) </div>
                    </div>
                    <div class="widget-item">
                      <i class="fa fa-plane" aria-hidden="true"></i>
                        <h6 class="title">Du lịch</h6>
                        <div class="subtitle">Vịnh Hạ Long địa danh được hai lần tôn vinh bởi UNESCO</div>
                    </div>
                </div>
        </div>
    </section>


    <!-- Video Section -->
    <section class="has-bg-img py-lg">
        <div class="container text-center">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary play-control" data-toggle="modal" data-target="#exampleModalCenter">
              <i class="ti-control-play" ></i>
            </button>
            <h6 class="section-title mt-4">See Our Intro Video</h6>

        </div>
    </section>
    <!-- End of Video Section -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <iframe width="100%" height="600" src="https://www.youtube.com/embed/USpAs7B5Ef8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- end of modal -->

    <!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <h6 class="section-subtitle text-center">News Feeds</h6>
            <h6 class="section-title mb-6 text-center">Our Blog</h6>
            <div class="row">
  
                @foreach (var item in Model.Blogs)
                {
                    <div class="col-md-4">
                        <div class="card blog-post my-4 my-sm-5 my-md-0">
                            <img src="@item.BlogImage">
                            <div class="card-body">
                                <div class="details mb-3"></div>
                                <h5 class="card-title">@item.BlogName</h5>
                                <a href="javascript:void(0)" class="d-block mt-3"><a href="~/Home/BlogDetail?id=@item.BlogId">Read More...</a></a>
                            </div>
                        </div>
                    </div>
                }
            
            </div>
        </div>
    </section>
