@model IEnumerable<Btl.Models.Product>
@{
    ViewData["Title"] = "ProductListByLocal";
    Layout = "~/Views/Shared/ProductList.cshtml";
}
		 
<a href="/Home/IndexProduct"> All Product </a>
					
						<div class="row">
@foreach (var item in Model) {
								<div class="col-md-4 col-xs-6">
									<div class="product">
										<div class="product-img">
											<img src="@item.ProductImage" alt="">
											<div class="product-label">
												<span class="sale">-30%</span>
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">@item.Local.LocalName</p>
											<h3 class="product-name"><a href="~/Products/ProductDetails?id=@item.ProductId">@item.ProductName</a></h3>
											<h4 class="product-price">@item.ProductDiscount<del class="product-old-price">@item.ProductPrice VNĐ</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<a href="~/Products/ProductDetails?id=@item.ProductId"	><button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Detail</span></button></a>
											</div>
										</div>
										<div class="add-to-cart">
												<a href="/Cart/AddToCart/?ProductId=@item.ProductId"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button> </a>
										</div>
									</div>
								</div>
				}
							</div>
					
				
